.discounts {
  &__wrapper {
    padding: 2.4rem;
    background-color: $color-white;

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  &__header {
    margin-bottom: 2.4rem;
  }

  &__form-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    @include respond(470px) {
      grid-template-columns: 1fr;
    }

    .input {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__btn-wrapper {
    grid-column: 1/-1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
